body {
    background: grey;
}

#menuList {
    color: goldenrod;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#foodDetailInfo img {
    border-radius: 1rem;
}

.search-btn {
    color: white;
    background: green;
}

.input-group {
    width: 60%;
    margin: auto;
}

#not-found {
    font-weight: 500;
}

.detail-img {
    border-radius: 15px;
}

.food-name {
    background: goldenrod;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 34%;
}

.list-group {
    margin-left: 34%;
    margin-right: 34%;
}

.list-group-item {
    margin: 0;
    text-align: left;
}